/* Container styles */
.container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../images/About-background.jpeg');
  width: 100%;
  min-height: 100vh;
  margin: auto !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Text styles */
p {
  color: #ffffff !important;
  font-weight: bold; 
  margin-bottom: 10px;
}

.container .title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 22px;
  color: #fff;
  letter-spacing: 1.5px;
}

.container .title h1::after {
  content: "";
  height: 6px;
  width: 220px;
  background-color: #fff;
  border-radius: 6px;
  position: relative;
  display: block;
  margin: auto;
}

.container .subtitle {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: #222;
  letter-spacing: 1px;
}


.content {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  margin: auto;
  border: 1px solid #fff;
}

.content .article {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2); /* Removed space between rgba values */
  padding: 15px;
}

.content .article h2,
.content .article h3,
.content .article h4,
.content .article h5,
.content .article h6 {
  color: #fff;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 1px;
  margin-top: 10px;  
  text-align: center;
}

.content .article p {
  margin-top: 2px;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
}

.content .article a {
  display: flex;
  font-size: 22px;
  text-decoration: none;
  display: inline-block;
  padding: 12px 35px;
  background-color: #c0000c;
  border-radius: 25px;
  color: #fff;
  border: 1px solid #c0000c;
  letter-spacing: 1.5px;
  margin-top: 35px;
}

.content .article a:hover {
  background-color: #fff;
  color: #c0000c;
  transition: 0.2s ease;
}

.image-section {
  width: 100%;
  margin: auto;
}

.image-section img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Containers and teams styles */
.containers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.sub-containers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 30%;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  flex: 0 0 10%; 
  max-width: 13%; 
  padding: 7px; 
  box-sizing: border-box;
  transition: all 0.3s ease; /* Added transition for smooth animation */
}

.team:hover {
  transform: translateY(-5px); /* Move up by 5 pixels */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Add box-shadow on hover */
}

.team img {
  margin-bottom: 10px;
  width: 150px;
  height: 200px;
}

.name {
  padding: 12px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
}

.design {
  font-style: italic;
  color: #fff;
}

.about {
  margin: 20px 0;
  font-weight: lighter;
  color: #fff;
}

.social-link a {
  display: inline-block;
  height: 30px;
  width: 30px;
  transition: 0.4s;
}

.social-link a:hover {
  transform: scale(1.5);
}

.social-link a i {
  color: #fff;
}

/* Media Queries */

/* 2xl */
@media (max-width: 1536px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* xl */
@media (max-width: 1280px) {}

/* lg */
@media (max-width: 1024px) {}

/* md */
@media (max-width: 768px) {}

/* sm */
@media (max-width: 640px) {
  .team {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 15px;
    box-sizing: border-box;
  }
}

/* xs */
@media (max-width: 475px) {
  .team {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 7px;
    box-sizing: border-box;
  }
}
