    


.dotted-box {
    font-size: 1.2rem;
    margin: 2rem;
    border: black;
    cursor: pointer;
    border-style: dashed;
    height: 266px;
    width: 320px;
    border-width: 2px;
    box-sizing: border-box;
    border-color: #C7C7C7;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}


.address_container {
    padding: 5rem;
}

h4 {
    font-size: 2rem;
    margin-bottom: 2rem
}


    .user-profile {
        position: relative;
    }

    .user-icon {
        cursor: pointer;
    }

    .profile-menu {
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        display: none;
    }

    .profile-menu a {
        display: block;
        color: #333;
        text-decoration: none;
        padding: 5px 10px;
    }

    .profile-menu a:hover {
        background-color: orange;
        color: #001E2C;
    }

/* Main header */
header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    height: 10rem;
}

/* Main content */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 6rem;
    font-size: 1.2rem;
}

.account-sections {
    width: 45%;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    height: 150px;
    border-radius: 5px;

}

    .inner-content {
        text-align: center;
        line-height: 1.5;
        /* Adjust line height as needed */
        margin-bottom: 20px;
        /* Add margin between lines */
    }

    .inner-content h2,
    .inner-content p {
        margin: 0;
        /* Remove default margins for heading and paragraph */
    }

    .edit-text,
    .edit-order {
        cursor: pointer;
        color: blue;
        display: inline-block;
        margin-left: 10px;
    }

/* .blurbackground {
    filter: blur(5px);
} */

/* Popups */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 999;
    display: none;
    width: 35rem;
    height: 35rem;
   
}


.ordergroup {
    margin-top: 2rem;
}

.group {
    margin-left: 7rem;
    margin-top: 1.6rem;
    font-size: 1.3rem;
    display:flex;
}



a.find {
    font-size: 1rem;
    color:#BA1A1A;
    font-weight: 600;
}


hr.blue-line {
    margin-bottom: 2rem;
}


.row.as-l-container {
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


p5.callout-copy {
    font-size: 1.3rem;
}



    #addressForm {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        border: 1px solid #ccc;
        z-index: 999;
        display: none;
        width: 80%;
        /* Adjust the width as needed */
        max-width: 600px;
        /* Set a maximum width to prevent it from becoming too wide */
        max-height: 80%;
        /* Set a maximum height to prevent it from becoming too tall */
        overflow-y: auto;/
    }

    .popup-content {
        position: relative;
    }


    
    .close {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
        background-color: orange;
        color: #040404;
        padding: 5px;
        border-radius: 5px;
        font-size: 16px;
        line-height: 1;
        transition: background-color 0.3s ease;
    }

    /* a:hover {
        background-color: orange;
        color: white;
    } */

    .close:hover {
        background-color: #999;
    }

    /* Form styling */
    .container {
        width: 100%;
        padding: 16px;
        background-color: white;
    }

input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    margin-top: 6px;
    margin-bottom: 16px;
    font-size:1.2rem;
}

.col-50 label {
    margin-top: 6px;
    display: block;
    font-size: 1.2rem;
}

.blurbackground{
    filter:none;
    filter: blur(5px);
}

.blurbackground {
    filter: blur(5px); /* Apply the blur effect */
}

    .btn {
        /* background-color: #4CAF50; */
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        width: 100%;
        margin-top: 10px;
        font-size: 16px;
    }
.btn {
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 7rem;
    font-size: large;
    margin-top: 2rem;
    font-weight: 600;
}

    
.btn:hover {
    background-color: orange;
}

    .col-25 {
        float: left;
        width: 45%;
        margin-top: 6px;
    }

    .col-75 {
        float: left;
        width: 75%;
        margin-top: 6px;
    }

.row:after {
    content: "";
    display: table;
    clear: both;
}


h1 {
    margin-top: 2rem;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}


h22.order-lookup-header {
    font-size: 2rem;
    font-weight: 600;
}

input.input7 {
    border: 1.5px solid rgba(16, 17, 17, 0.576);
    font-size: 1.2rem;
    padding: 0.5rem;
    margin-left: 2rem;
}


.grp {
    margin-left: 17rem;
    margin-top: 2rem;
}

span.plus-icon {
    padding: 6rem;
}

.grp button {
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid black;
    cursor: pointer;
    font-size: large;
    border-radius: 5px;

}

.grp button:hover {
    background-color: #f7890b; /* Changed to orange */
    color: #000!important;
}





.popup1 .close {
    position: absolute;
    top: 20px;
    right: 5px;
    cursor: pointer;
    background-color: orange;
    color: #040404;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1;
    transition: background-color 0.3s ease;
    margin-right: 1rem;

}


.popup1 .close:hover {
    background-color: #999;
}

.popup1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 999;
    display: none;
    width: 30rem;
    height: 40rem;
   
}

.popup2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 999;
    display: none;
    width: 35rem;
    height: 43rem;
   
}



.popup2 .close {
    position: absolute;
    top: 20px;
    right: 5px;
    cursor: pointer;
    background-color: orange;
    color: #040404;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1;
    transition: background-color 0.3s ease;
    margin-right: 1rem;

}


.popup2 .close:hover {
    background-color: #999;
}


h3 {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom:2rem;
}



.payment__cc {
    padding-top: 2rem;
}


.Card__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.card {
    
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-bottom: 20px;
    transition: 0.3s;
    padding-top: 20px;
    padding-bottom: 10px;
    align-items: flex-start;
    text-align: left;
    padding-left: 2rem ;
    border-radius: 5px;

}


.card:hover{
    background-color : orange;
}

.title {
    font-size: 1.2rem;
    padding-bottom: .5rem;
}

input.input.txt.text-validated {
    font-size: 1.2rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

input.input2.txt {
    font-size: 1.2rem;
    padding: 0.5rem;
}


hr.white-line {
    margin: 1rem;
}

.information {
    font-size: 1.2rem;
}


select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    margin-bottom: 16px;
    font-size: 1.1rem;
    
}

input.input1.txt {
    font-size: .9rem;
    width: 5rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.button-container {
    text-align: right;
    margin-top: 2rem;
}


button.cancel-btn {
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    
}

button.cancel-btn:hover {
    background-color: orange;
}


button.add-card-btn {
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
}


button.add-card-btn:hover {
    background-color: orange;
}



.form-group {
    margin-bottom: 10px;
    margin-top: 3rem;
    width: 32rem;
}


.form-group label {
    font-size: 1.4rem;
    text-align: left;
}

.form-group input[type="text1"] {
    border: 1.5px solid rgba(16, 17, 17, 0.576);
    font-size: 1.2rem;
    padding: 0.5rem;
    margin-right: 2rem;
    margin-left:  2.5rem;
}


.form-group input[type="email1"]
{
    border: 1.5px solid rgba(16, 17, 17, 0.576);
    font-size: 1.2rem;
    padding: 0.5rem;
    margin-right: 2rem;
    margin-left: 2.5rem;
}

.form-group input[type="tel1"]
{
    border: 1.5px solid rgba(16, 17, 17, 0.576);
    font-size: 1.2rem;
    padding: 0.5rem;
    margin-right: 2rem;
    margin-left : 1.3rem;
}

.form-group input[type="password1"]
{
    border: 1.5px solid rgba(16, 17, 17, 0.576);
    font-size: 1.2rem;
    padding: 0.5rem;
    margin-right: 2rem;
    margin-left: .5rem;
}



.form-group button[type="button"] {
    background-color: white;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    font-size: 18px;
    padding: 5px 10px;
    width: 5rem;
    height: 2rem;
    border: 1px solid;

}

.form-group button[type="button"]:hover {
    background-color: #f7890b;
}


h0 {
    font-size: 2.5rem;
    font-weight: 600;
}


.container1 {
    margin: 50px auto;
    padding: 20px;
    text-align: left;
}


div#editNamePopup, 
div#editMobilePopup, 
div#editEmailPopup,
div#editPasswordPopup
 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 5rem 30px;
    border: 1px solid #ccc;
    z-index: 999;
    width: 35rem;
    height: 35rem;
}





h01 {
    font-size: 2rem;
    font-weight: 600;
    
}

.message {
    font-size: 1.2rem;
    margin: 2rem;
}


input.input {
    font-size: 1.2rem;
    padding: 0.5rem;
    margin-left: 1rem;
}

.namegroup label {
    font-size: 1.5rem;
}

.namegroup {
    margin-left: 2rem;
}

.namegrp {
    padding: 3rem 12rem;
}



.namegrp button {
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font-size: large;
    width: 9rem;
}

.namegrp button:hover
{
    background-color: orange;
}


h5.modal-title {
    font-size: 2.5rem;
}




.passwordcontainer {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    
}

.passwordcontainer h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.btn-save {
    padding: 10px;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
    width: 5rem;
    margin-left: 10rem;
    margin-top: 2rem;
}

.btn-save:hover {
    background-color: #f7890b;
}


.btn1{
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 7rem;
    font-size: large;
    margin-top: 2rem;
    font-weight: 600;
}

.btn1:hover{
    background-color: #f7890b;
}


input#old-password {
    border: 1.5px solid rgba(16, 17, 17, 0.576);
    font-size: 1.2rem;
    padding: 0.5rem;
    margin-left: 3.5rem;
}

input#new-password{
    border: 1.5px solid rgba(16, 17, 17, 0.576);
    font-size: 1.2rem;
    padding: 0.5rem;
    margin-left: 3rem;
}

input#confirm-password{
    border: 1.5px solid rgba(16, 17, 17, 0.576);
    font-size: 1.2rem;
    padding: 0.5rem;
    margin-right: 2rem;
    margin-left: 1rem;
}


@media only screen and (max-width: 768px) {
    
    .container {
        max-width: 90%;
    }
    h1 {
        font-size: 22px;
    }
}

@media only screen and (max-width: 480px) {

    h1 {
        font-size: 20px;
    }
}