*{
    box-sizing: border-box;
}


.header {
    padding: 2px;
    text-align: right;
    margin-top:  2.2rem;
    margin-right: 10rem;
}
header h1{
    margin:0;
    text-align: center;
}


.user-profile {
    position: relative;
    display: inline-block;
    cursor: pointer;
    z-index: 999;
}

.user-icon {
    font-size: 1.5em;
    margin-right: 5rem;
}

.profile-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px var(--tw-ring-color);
    z-index: 1;
    border-radius: 15px;
    width: 15rem;
    margin-right: 2rem;
    text-align: left;
    font-size: 20px;
    padding-top: 20px;
}

.profile-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.profile-menu a:hover {
    background-color: #f5f5f5;
}

  
header {
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 0;
    text-align: left;
    margin-left: 10rem;
    margin-top: 5rem;
  }
  

  
  h2 {
    font-size: 1.5em;
    margin-bottom: 5px;
    margin-top: 2rem;
  }
  
  p {
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: var(--tw-ring-color);
    border-radius: 20px;
    height: 7rem;
    text-align: center;
    width: 20rem;
    display: flex;
    border-radius: 12px;
    position: relative;
    padding: 14px 18px;
    margin-top: 3rem;
    font-size: 1.2rem;
}
  
  /* Add this to your existing styles.css file or create a new one */
  .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: var(--tw-ring-offset-color);
    box-shadow: 0 0 10px var(--tw-ring-color);
    width: 70rem;
    height: 45rem;
    margin-top: 3rem;
    border-radius: 16px;
}



span.plus-icon {
    font-size: 1.5rem;
    color: var(--tw-ring-color);
    cursor: pointer;
}




.close {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 2rem;
    cursor: pointer;
}

.blur-background {
    filter: blur(5px); 
    pointer-events: none;
    margin: auto; 
    width:50%;
    align-self: center;
}

h {
    font-size: 2em;
    margin-left: 9rem;
  }

  .p1 {
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: var(--tw-ring-color);
    border-radius: 20px;
    height: 5rem;
    text-align: center;
    width: 30rem;
    display: flex;
    border-radius: 8px;
    position: relative;
    padding: 14px 18px 
  }

  .p2 {
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: var(--tw-ring-color);
    border-radius: 20px;
    height: 5rem;
    text-align: center;
    width: 30rem;
    display: flex;
    border-radius: 8px;
    position: relative;
    padding: 14px 18px 
  }

  .p3 {
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: var(--tw-ring-color);
    border-radius: 20px;
    height: 5rem;
    text-align: center;
    width: 30rem;
    display: flex;
    border-radius: 8px;
    position: relative;
    padding: 14px 18px 
  }

  .p4 {
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: var(--tw-ring-color);
    border-radius: 20px;
    height: 5rem;
    text-align: center;
    width: 30rem;
    display: flex;
    border-radius: 8px;
    position: relative;
    padding: 14px 18px 
  }


  .rs-ol-heading {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0;
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: 86px 0 54px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}


.rs-ol-minmodemsg, .rs-order-link {
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: 45px 0 30px;
}

.p5 {
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: var(--tw-ring-color);
    border-radius: 20px;
    height: 5rem;
    text-align: center;
    width: 30rem;
    display: flex;
    border-radius: 8px;
    position: relative;
    padding: 14px 18px 
  }

  .p6 {
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: var(--tw-ring-color);
    border-radius: 20px;
    height: 5rem;
    text-align: center;
    width: 30rem;
    display: flex;
    border-radius: 8px;
    position: relative;
    padding: 14px 18px 
  }


  .blue-line {
    border: .5px solid rgba(10, 10, 10, 0.5); /* Adjust the border properties as needed */
    margin: 1px 0; /* Adjust the margin properties as needed for spacing */
    width: 60rem;
    margin-left: 5rem;
    margin-bottom: 2rem;
}

.find{
    margin-top: 10rem;
    margin-left: 7rem;
    font-size: 20px;
    font-weight: 600;
}


.guest-lookup__form-wrapper {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 30px 0;
}

.suball_title {
    font-family: SamsungSharpBold,Arial,Helvetica,sans-serif;
}

.guest-lookup__title {
    text-align: center;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 15px;
    font-weight: 600;
}


.suball_mandatory-label, .suball_form-field {
    font-family: SamsungOne400,Arial,Helvetica,sans-serif;
}

.guest-lookup__mandatory-label {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 15px;
    margin-left: 2rem;
}

.guest-lookup__form-fields {
    min-width: 448px;
    margin-bottom: 24px;
}

.guest-lookup__form-fields {
    display: flex;
    flex-flow: column;
}


.mat-mdc-form-field {
    --mat-mdc-form-field-floating-label-scale: 0.75;
    display: inline-flex;
    flex-direction: column;
    min-width: 0;
    text-align: left;
}

.suball_mandatory-label, .suball_form-field {
    font-family: SamsungOne400,Arial,Helvetica,sans-serif;
}


.guest-lookup__form-field {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 24px;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: transparent;
    padding: 0;
}

.mat-mdc-text-field-wrapper {
    width: 100%;
}
.mat-mdc-text-field-wrapper {
    height: auto;
    flex: auto;
}

.mat-mdc-form-field-focus-overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.mat-mdc-form-field-focus-overlay {
    background-color: transparent;
}

.mat-mdc-form-field-flex {
    display: inline-flex;
    align-items: baseline;
    box-sizing: border-box;
    width: 100%;
}

.mat-mdc-select-value-text, .mdc-text-field--no-label:not(.mdc-text-field--textarea) .mat-mdc-form-field-input-control.mdc-text-field__input, .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control, .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix {
    font-family: SamsungOne400,Arial,Helvetica,sans-serif;
    font-size: 18px;
    
    height: 30px;
    width: 18rem;
    margin-bottom: 10px;
}
.mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix {
    padding-bottom: 8px;
    margin-left: 4rem;
}

.mat-mdc-form-field-infix {
    flex: auto;
    min-width: 0;
    width: 180px;
    position: relative;
    box-sizing: border-box;
}

.mat-mdc-form-field-infix {
    min-height: -moz-fit-content;
    min-height: fit-content;
}

.guest-lookup__form-field .mat-mdc-form-field-subscript-wrapper {
    padding-bottom: 15px;
}
form .mat-mdc-form-field-bottom-align {
    letter-spacing: normal;
    font-family: SamsungOne400,Arial,Helvetica,sans-serif;
}

.mat-mdc-form-field-subscript-wrapper {
    box-sizing: border-box;
    width: 100%;
}
.mat-mdc-form-field-subscript-wrapper, .mat-mdc-form-field-bottom-align:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: var(--mdc-typography-caption-font-size, 12px);
    line-height: var(--mdc-typography-caption-line-height, 20px);
    font-weight: var(--mdc-typography-caption-font-weight, 400);
    text-decoration: var(--mdc-typography-caption-text-decoration, inherit);
    text-transform: var(--mdc-typography-caption-text-transform, none);
}


guest-lookup__form-fields {
    min-width: 448px;
    margin-bottom: 24px;
}

.guest-lookup__form-fields {
    display: flex;
    flex-flow: column;
}


.guest-lookup__form-button-container {
    padding: 8px 0;
}
.guest-lookup__form-button-container {
    text-align: center;
}

.pill-btn:disabled {
    background: var(--grey-2_DD);
    color: white;
    text-shadow: none;
    cursor: pointer;
    margin-right: 2rem;
    border-radius: 12px;
    font-weight: 600;
    background-color: #00668A;
    margin-top: 1rem;
    font-size: 18px;
}

.suball_form-button {
    font-family: SamsungOne700,Arial,Helvetica,sans-serif;
}

.guest-lookup__form-button {
    padding: 10px 2rem;
}



h4{
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 16px!important;
    
}



.address_container{

    width: 21rem;
    margin-top: 12rem;
    
}


.address_box {
    border-style: dashed;
    height: 100px;
    width: 320px;
    border-width: 2px;
    box-sizing: border-box;
    border-color: var(--tw-ring-color);    
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}


.popup-content form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.popup-content label {
    margin-bottom: 5px;
}

.popup-content input {
    padding: 8px;
}

/*.popup-content button {
    background-color: yellow;
    padding: 10px;
    color: black;
    cursor: pointer;
} */

h7 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 4px;
}

.body1 {
    font-family: Arial;
    font-size: 17px;
    padding: 8px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    padding: 5px 20px 15px 20px;
    border-radius: 16px;
    margin-top: 2rem;
    background-color: #f0f4f7;
    border: 1px solid #ddd;
}
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1.5px solid rgba(16, 17, 17, 0.576);
    border-radius: 6px;
    font-size: 1rem;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: #00668A;
    color: white;
    padding: 12px;
    margin: 10px 0;
    /* border: none; */
    width: 10rem;
    border-radius: 12px;
    cursor: pointer;
    font-size: 20px;
    margin-left: 10rem;
}

  
  a {
    color: #2196F3;
  }
  
  hr {
    border: 1px solid lightgrey;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }

  

body {
    font-family: Arial, sans-serif;
    margin: auto;
    height: 100vh;
    width: 80%;
    padding: 10px;
    
}



main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    width: 50rem;
    margin-left: 26rem;
    margin-top: 2rem;
    width: 55rem;
}

.account-sections {
    width: 48%; /* Adjust as needed */
    border: 1px solid #ddd;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    height: 15rem;
}

.popup-content {
    max-width: 600px; /* Adjust as needed */
    margin: 0 auto;
}

.edit-text {
    margin-top: 2.5rem;
    margin-left: 1rem;
    font-size: 18px;
    color: rgb(59 130 246 / 80%);
    cursor: pointer;
    transition: color 0.3s;
    width: 2rem;
}

.edit-text:hover{
    color: brown;
    text-decoration: underline;
}


.edit-order {
    margin-top: 2.5rem;
    margin-left: 1rem;
    font-size: 18px;
    color: rgb(59 130 246 / 80%);
    cursor: pointer;
    transition: color 0.3s;
    width: 13rem;
}

.edit-order:hover{
    color: brown;
    text-decoration: underline;
}


body2 {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container1 {
    background-color: #f0f4f7;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 10px;
    margin-top: 2rem;
}


.form-group label {
    font-size: 1.2rem;
    text-align: left;
    margin-left: 2.5rem;
}

.form-group input[type="text1"] {
    width: 60%;
    border: 1.5px solid rgba(16, 17, 17, 0.576);
    border-radius: 7px;
    font-size: 1rem;
    margin-right: 4rem;
}
.form-group input[type="email1"]
{
    width: 60%;
    border: 1.5px solid rgba(16, 17, 17, 0.576);
    border-radius: 7px;
    font-size: 1rem;
    margin-right: 4rem;
}

.form-group input[type="tel1"]
{
    width: 60%;
    border: 1.5px solid rgba(16, 17, 17, 0.576);
    border-radius: 7px;
    font-size: 1rem;
    margin-right: 4rem;
}

.form-group input[type="password1"]
{
    width: 60%;
    border: 1.5px solid rgba(16, 17, 17, 0.576);
    border-radius: 7px;
    font-size: 1rem;
    margin-right: 4rem;
}



.form-group button[type="button"] {
    background-color: #00668A;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    padding: 5px 10px;
    width: 5rem;
    height: 2rem;

}

.form-group button[type="button"]:hover {
    background-color: #00668A;
}

.edit-btn {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 10px;
    margin-top: 20px;
}

.edit-btn:hover {
    background-color: #0069d9;
}


h0 {
    font-size: 2rem;
    font-weight: 600;
}



/*  Payments css code */

.payment_col-50 label{
    font-size: 20px;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

h3{
    font-size: 2rem;
}

.payment_col-50{
    margin-top: 6rem;
}




.row {
  display: flex;
}

.txt {
  border-color: #e1e8ee;
  width: 100%;
}


.input1 {
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  height: 48px;
  padding-left: 15px;
  font-weight: 600;
  font-size: 14px;
  color: #5e6977;
}

.input1[type="text1"] {
  display: initial;
  padding: 15px;
}

.white-line {
    border: 0.5px solid rgb(10, 10, 10);
    margin: 1px 0;
    width: 36.6rem;
    margin-bottom: 1.5rem;
}

.text-validated {
  background-image: url("../images/icon-tick.png");
  background-repeat: no-repeat;
  background-position: right 18px center;
}

.ddl {
  border-color: #f0f4f7;
  background-color: #f0f4f7;
  width: 100px;
  margin-right: 10px;
}

.title {
    font-size: 18px;
    padding-bottom: 8px;
    padding-top: 10px;
    color: wheat;
}

.field {
  padding-top: 15px;
  padding-right: 30px;
  width: 50%;
}
.field.small {
  width: auto;
}


.name {
    background: #f6f9fc;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #dadada;
    width: 25rem;
    margin-left: 5rem ;
}


.card {
  background: #001E2C;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #dadada;
  width: 35rem;
}


.Card__title {
    margin: 4px 0 10px 0;
    font-size: 20px;
    display: flex;
    text-align: left;
    margin-left: 10px;
    font-weight: 600;
}


.button-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
}


.add-card-btn {
    padding: 10px;
    background-color: #00668A;
    color: black;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(213,217,217,.5);
    cursor: pointer;
    font-weight: 600;
    
}

.cancel-btn{
    padding: 10px;
    background-color: #ccc;
    color: #333;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}



.add-card-btn:hover {
    background-color: #ffd814;
    transition: 0.2s ease all;


    
}

.fa-cc-visa:before,
.fa-cc-amex:before,
.fa-cc-mastercard:before,
.fa-cc-discover:before
 {
    content: "\f1f0";
    background-color: white;
    font-size: 1.3rem;
    /* margin-left: 2rem; */
}

.info {
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -.022em;
    line-height: 1.5;
    padding-bottom: 20px;
}


/* order css code */


.head {
    margin-left: 15rem;
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: 600;
}

.group {
    position: relative;
    margin-left: 20rem;
    margin-top: 3.5rem;
    width: 15rem;
}
   
   .group input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
   }

   .group input[type=text2] {
    font-size: 1rem;
}
   
   .group input:focus {
    outline: none;
   }
   
   .group label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
   }
   
   .group input:focus ~ label, .group input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #00668A;
   }
   
   .bar {
    position: relative;
    display: block;
    width: 200px;
   }
   
   .bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #00668A;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
   }
   
   .bar:before {
    left: 50%;
   }
   
   .bar:after {
    right: 50%;
   }
   
   .group input:focus ~ .bar:before, .group input:focus ~ .bar:after {
    width: 50%;
   }
   
   .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
   }
   
   .group input:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
   }
   
   @keyframes inputHighlighter {
    from {
     background: #5264AE;
    }
   
    to {
     width: 0;
     background: transparent;
    }
   }


   .grp button {
    padding: 10px 20px;
    border: unset;
    border-radius: 15px;
    color: #070606;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 600;
    font-size: 14px;
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    margin-top: 2.5rem;
    margin-left: 33rem;
    cursor: pointer;
}
   
   .grp button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #00668A;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   .grp button:hover {
    color: #e8e8e8;
   }
   
   .grp button:hover::before {
    width: 100%;
   }

   .edit-popup {
    /* display: none; */
    margin-top: 7rem;
    width: 33rem;
    height: 25rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    z-index: 1000;
}


h01 {
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 2rem;
    padding-left: 2rem;
}

.namecontainer {
    padding: 3rem;
    
}

.message {
    padding-bottom: 2rem;
}

/*.namecontainer label{
    font-size: 1.1rem;
}

.namecontainer button {
    font-size: 1.1rem;
    margin-top: 3rem;
    border-radius: 6px;
    width: 9rem;
    height: 2rem;
    background-color: #00668A;
}*/

.namegroup {
    position: relative;
    margin-top: 3rem;
    width: 15rem;
}
   
   .namegroup input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
   }

   .namegroup input[type=text2] {
    font-size: 1rem;
}
   
   .namegroup input:focus {
    outline: none;
   }
   
   .namegroup label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
   }
   
   .namegroup input:focus ~ label, .group input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #00668A;
   }
   
   .bar {
    position: relative;
    display: block;
    width: 200px;
   }
   
   .bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #00668A;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
   }
   
   .bar:before {
    left: 50%;
   }
   
   .bar:after {
    right: 50%;
   }
   
   .namegroup input:focus ~ .bar:before, .namegroup input:focus ~ .bar:after {
    width: 50%;
   }
   
   .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
   }
   
   .namegroup input:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
   }
   
   @keyframes inputHighlighter {
    from {
     background: #5264AE;
    }
   
    to {
     width: 0;
     background: transparent;
    }
   }

.namegrp button {
    padding: 10px 20px;
    border: unset;
    border-radius: 15px;
    color: #070606;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 600;
    font-size: 14px;
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    margin-top: 2.5rem;
    cursor: pointer;
    margin-left: 12.5rem;
}
   
   .namegrp button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #00668A;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   .namegrp button:hover {
    color: #e8e8e8;
   }
   
   .namegrp button:hover::before {
    width: 100%;
   }

   .blurbackground {
    /* filter: blur(50%); */
    background-color:  rgb(208, 206, 206);
    color: #080000;
    transition: filter 0.3s ease;
    width:80%;
    margin: auto;
   
    
}
