body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h3 {
    color: #999;
    font-size: 40px;
    text-align:center;
    position:relative; left:0px; margin-left:0px; margin-right:0px
}

.inbox-container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
}

.inbox-sidebar {
    width: 250px;
    background-color: #001E2C;
    padding: 20px;
    height: 500px;
    border-radius: 10px;
    margin-left: 10px;

}

.inbox-sidebar h2 {
    margin-top: 40px;
    margin-left: 60px;
    color: white;
    
}

.inbox-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.inbox-menu li {
    margin-bottom: 10px;
}

.inbox-menu li a {
    text-decoration: none;
    color: white;
    margin: 60px;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.inbox-menu li a:hover {
    background-color: #001E2C;
    color: white;
}

.inbox-content {
    flex: 1;
    padding: 20px;
    width: 250px;
    background-color: #001E2C;
    height: 500px;
    border-radius: 10px;
    margin-left: 20px;
}

.message-list {
    margin-bottom: 20px;
}

.message-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.notification-item{
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  color: white; 
}

.notification-item:hover{
    background-color: #368fbf;
}

.message-item:hover {
    background-color: #368fbf;
}

.message-sender {
    font-weight: bold;
}

.message-preview, .message-full, .notification-preview, .notification {
    background-color: #d5d9e6;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.message-body {
    font-size: 16px;
}

.message-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.message-header-sender {
    font-weight: bold;
}

.message-header-date {
    color: #888;
}

.view-button {  
    background-color: #00668A;
    color: white;
    padding: 14px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
    border-radius: 5px;
    text-align: center;
}
.view-button:hover{
    background-color: #333;
}

