*,
*:after,
*:before {
  box-sizing: border-box;
}

ul {
  padding-left: 10px;
}

.navigation{
  margin-top: 0.8rem;
}

a {
  color: #000;
  font-size: 15px;
}
.total{
  float: right;
  font-size: 40px;
}
.img{
  width:100px;
  height: 100px;
}
.content {
  z-index: 9999;
}

.secure,
.backBtn {
  display: flex;
}
.secure span,
.backBtn span {
  margin-left: 5px;
}

.backBtn {
  margin-top: 20px;
}



.logo {
  font-size: 10px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}


img {
  width: 50%!important;
  border-radius: 8px 0 0 8px;
}

a.btn.action__pay_with_new_card {
  margin: 5rem;
}



.details {
  max-width: 800px;
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -200px;
  background: #fff;
  border-radius: 5px;
  flex-direction: column;
  position: relative;
  margin-bottom: 6rem;
}

.details__item {
  display: flex;
}
.details__user {
  background: #f6f9fc;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #dadada;
}

.item__quantity {
  position: absolute;
  right: 50px;
  top: 30px;
  font-size: 20px;
}
.item__image {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.item__image .iphone {
  margin-top: -50px;
  margin-left: -100px;
  width: 300px;
  height: 300px;
}
.item__details {
  padding: 30px;
}
.item__title {
  font-size: 28px;
  font-weight: 600;
}
.item__price {
  font-size: 22px;
  color: orange;
}


header {
  background-color: #f6f9fc;
  min-height: 20rem;
  background-image: url("../images/pattern.png");
}

.container1 {
  width: 960px;
  margin: 0 auto;
}

.shadow {
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}

.row {
  display: flex;
}

.txt {
  border-color: #e1e8ee;
  width: 100%;
}

.input {
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  height: 48px;
  padding-left: 15px;
  font-weight: 600;
  font-size: 14px;
  color: #5e6977;
}

input[type="text"] {
  display: initial;
  padding: 15px;
}

.text-validated {
 
  background-image: url("../images/icon-tick.png");
  background-repeat: no-repeat;
  background-position: right 18px center;
}

.ddl {
  border-color: #f0f4f7;
  background-color: #f0f4f7;
  width: 100px;
  margin-right: 10px;
}

.title {
  font-size: 18px;
  padding-bottom: 8px;
  padding-top: 10px;
  color: white;
}

.field {
  padding-top: 15px;
  padding-right: 30px;
  width: 50%;
}
.field.small {
  width: auto;
}

.notification {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  display: flex;
  justify-content: center;
}


.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 60px 0 40px 0;
}

.payment {
  padding: 20px 0 0 0;
}
.payment__title {
  font-size: 25px;
  display: flex;
  text-align: left;
  margin-left: 2rem;
  font-weight: 600;
  color: white;
  margin-bottom: 1.1rem;
}


.btn {
  font-family: "Josefin Sans", sans-serif;
  border-radius: 5px;
  border: 0;
  letter-spacing: 1px;
  color: #fff;
  background: #00668A;
  padding: 20px 60px;
  white-space: nowrap;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  transition: all 0.15s ease;
  font-weight: 600;
  text-decoration: none;
}

.btn:hover{
  background-color: #f9a825;
}



.btn.action__back {
  background: transparent;
  color: #a0a0a0;
}

.payment__types {
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment__info {
  display: flex;
}

.payment__cc {
  flex: 60%;
}

.payment__shipping {
  flex: 40%;
}

.shipping__info {
  background: #f6f9fc;
  padding: 10px;
  border-radius: 5px;
}

.payment__type {
  display: flex;
  border: 2px solid #d9d9d9;
  border-radius: 5px;
  padding: 20px 40px;
  width: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #d9d9d9;
  transition: all 0.15s ease;
}
.payment__type:hover {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.payment__type + .payment__type {
  margin-left: 10px;
}



.content {
  display: block;
}

.thankyou {
  display: block;
}
.thankyou .details {
  opacity: 1;
  justify-content: center;
  align-items: center;
}
.thankyou .details h3 {
  font-weight: 600;
}
.thankyou .details__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.loading {
  position: relative;
}
.loading:after {
  -webkit-animation: spinAround .5s infinite linear;
          animation: spinAround .5s infinite linear;
  border: 4px solid #7dc855;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  height: 5em;
  width: 5em;
  position: absolute;
}
.loading .details__item {
  opacity: 0;
}

@-webkit-keyframes spinAround {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes spinAround {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}


.payment__type--selected {
  border: 2px solid #7dc855;
}

.payment__type--selected .payment__title,
.payment__type--selected .payment__info {
  color: black; 
} 


.name {
    background: #001e2c;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #dadada;
    width: 25rem;
    margin-left: 12rem ;
}


.card {
  background: #f6f9fc;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #dadada;
  width: 35rem;
}


.Card__title {
  margin: 40px 0 20px 0;
  font-size: 18px;
  display: flex;
  text-align: left;
  margin-left: 10px;
  font-weight: 600;
}

.mainContainer {
  width: 350px;
  height: 520px;
  margin: 0 auto;
  box-shadow:0 0 10px #2323;
  margin-top: 50px;
  background:white;
}
.cardHolder {
  height: 300px;
  background: #001E2C; 
}


.center{
  display:flex;
  justify-content:center;
  align-items:center;
}
.vcenter{
  display:flex;
  align-items:center;
}
.heading{
  height:40px;
  font-size:14px;
  letter-spacing:2px;
  color:white;
}
.stepHeading{
  height:20px;
  font-size:25px;
  font-weight:bolder;
  letter-spacing:2px;
  color:white;
}
.card{
  height:180px;
  width:280px;
  background:white;
  margin:0 auto;
  border-radius: 5px;
  margin-top:25px;
  padding:12px 20px;
}
.card > .part{
  height:50px;
  margin-bottom:4px;
}
.card > .top{
  display:flex;
  justify-content:flex-end;
}

.card > .top > img {
  height: 3.2rem;
  width: 5rem;
}

.infoheader{
  height:20px;
  font-size:11px;
  font-weight:bold;
  letter-spacing:2px;
  color:#95a5a6
}
.card > .middle > .infocontent{
  justify-content:space-between;
  height:30px;
}
.number{
  width:150px;
}
.card > .middle > .infocontent > .num{
  height:25px;
  font-size:14px;
  letter-spacing:2px;
  font-weight:bolder;
}
.card > .bottom{
  display:flex;
  justify-content:space-between
}
.holderInfo{
  width:150px;
}
.holderInfo > .name,.expDate > .date{
  font-size:12px;
  font-weight:bolder;
  letter-spacing:2px;
}
.status{
  height:35px;
  width:300px;
  margin:0 auto;
  box-shadow:0 0 10px #2323; 
  margin-top:16px;
  padding:0 16px;
  font-size:12px;
  letter-spacing:2px;
  font-weight:bolder;
}
.status > i{
  color:#16a085;
  margin-right:20px;
  font-size:16px;
}
h5{
  width:220px;
  margin:0 auto;
  padding:8px;
  margin-top:14px;
  border-bottom:2px solid #bdc3c7;
  letter-spacing:2px;
  font-size:12px;
  margin-bottom:12px;
}
.options{
  width:250px;
  height:75px;
  margin:0 auto;
  justify-content:space-evenly;
}


.options > .opt2 {
  height: 75px;
  width: 75px;
  box-shadow: 0 0 5px rgb(255 165 0);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border: 1px solid orange;
  background-color: orange;
}



.options > .opt3{
  height:75px;
  width:75px;
  box-shadow:0 0 10px #2323; 
  border-radius:5px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  cursor: pointer;
}


.optname{
  height:30px;
  font-size:13px;
  color:#232323;
  letter-spacing:2px;
  font-weight:800;
}
.payment{
  height:80px;
  position:relative;
  top: 24px;
  box-shadow: 0 -5px 5px -5px #2323;
  justify-content:space-around;
  display: flex;
}
.val{
  height:40px;
  font-size:24px;
  font-weight:bolder;
  letter-spacing:2px;
  color:#6480ef;
}
.button{
  width:120px;
  height:35px;
  border-radius:5px;
  background:linear-gradient(
    to right,
    #6480ef,
    #7775e8,
    #806ce8
  ); 
  color:white;
  font-weight:bolder;
  letter-spacing:2px;
}


.placeordercontainer {
  margin-top: 40rem;
}



.optname1.center {
  height: 3rem;
  width: 10rem;
  box-shadow: 0 0 10px #2323;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  margin-left: 6rem;
  font-weight: 600;
  cursor: pointer;
}

.optname1.center:hover{
  background-color: #f9a825;
}


.mastercard {
  width: 50px;
  margin-top: 15px;
}



.new-card-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.new-card-popup .popup-content {
  background-color: white;
  padding: 4rem;
  border-radius: 5px;
  position: relative;
  width: 30rem;
  height: 33rem;
}

.new-card-popup .close-popup {
  position: absolute;
  top: 2rem;
  right: 25px;
  cursor: pointer;
  background-color: orange;
  color: #040404;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1;
  transition: background-color 0.3s ease;
}

.new-card-popup .close-popup:hover {
  background-color: #999;
}


select {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  margin-bottom: 16px;
  font-size: 1.1rem;
}


.ddl {
  border-color: #f0f4f7;
  background-color: #f0f4f7;
  width: 100px;
  margin-right: 10px;
  border: 1px solid #ccc;
}

label {
  font-size: 1.2rem;
}

input#card-number {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  margin-top: 6px;
  margin-bottom: 16px;
  font-size: 1.2rem;
}


input#cvv {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  margin-top: 6px;
  margin-bottom: 16px;
  font-size: 1.2rem;
  width: 5rem;
}

input#card-holder {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  margin-top: 6px;
  margin-bottom: 16px;
  font-size: 1.2rem;
}

input#expiry-date {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  margin-top: 6px;
  margin-bottom: 16px;
  font-size: 1.2rem;
}



.save-new-card-btn {
  margin-left: 9rem;
  margin-top: 2rem;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 8rem;
  font-size: large;
  margin-top: 2rem;
  font-weight: 600;
}


.save-new-card-btn:hover{
  background-color: #f9a825;
}

