body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background:#00668A;
  }
  
  .container {
    width: 50%;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #001E2C;
  }
  
  .form-group {
    margin-bottom: 16px;
  }
  
  label {
    font-weight: bold;
    font-size: 1.30em;
    color: white;
  }
  
  input[type=text],
  input[type=email],
  input[type=tel] {
    width: 25rem;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    resize: vertical;
    display: flex;
  }



  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #f2f2f2;
    color: #0a0909;
    padding: 12px 20px;
    border: 1px solid;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    width: 20%;
    margin-left: 15rem;
    border-radius: 25px;
  }
  
  input[type=submit]:hover {
    background-color: orange;
  }
  
  h3 {
    font-size: 2em;
    color: #f9fafb;
    font-weight: bold;
    text-align: center;
  }
  