body {
    background: rgb(96,145,163);
    
    font-family: Arial,sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #001E2C;
    border-radius: 10px;
    padding: 20px;
    width: 550px;
    height: 500px;
	text-align:center;
}

h2 {
	color:white ;
    text-align: left;
    font-size: 50px;
    margin-left: 60px;
    height: 20px;

}



.happen p {
    color: orange;
    font-size: 35px;
    margin-top: 3rem;
    font-weight: 600;
}


.email p {
    color: white; 
    font-size: 25px; 
    height: 15px;
}

input[type="text"] {
	width:370px; 
    height: 62px;
    padding: 12px 20px;
    margin:0 ;
    box-sizing: border-box;
    border: none;
    border-radius: 1rem;
    font-size: 20px;
    margin-top: 0;
    color: black;
    
}

input[type="email" i] {
    padding-block: 6px;
    padding-inline: 10px;
    font-size: 1.4rem;
    border-radius: 5px;
}

.white-line {
    border: .5px solid rgb(208, 205, 205); 
    margin: 30px 0; 
    width: 500px;
    margin-left: 20px;

}


.continue {
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: Source Sans Pro,sans-serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    height: 50px;
    letter-spacing: normal;
    line-height: 1.17;
    margin: 0;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    margin-top: 1rem;
}

.Return a:hover {
    color: #904d00;
}
.Return a {
    color: white;
    font-family: Source Sans Pro;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    text-decoration: none;

}

.Return {
    margin-top: 10px;
    text-align: center;
    width: 100%;
    margin-left: 2px;
}

.continue {
    background-color: #00668A;
    color: black;
}

.error-message {
    color: rgb(238, 14, 14);
    font-size: 15px;
    margin-top: 5px;
    margin-right: 11rem;
  }

  img {
    width: 150px;
    height: 100px;
    margin: 0px;
}

hr.white-line {
    width: 27rem;
    margin-left: 3rem;
}