* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Righteous';
}

body {
    background: rgb(96,145,163);
    background: linear-gradient(180deg, rgba(96,145,163,1) 56%, rgba(241,247,249,1) 100%);    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

section{
    position: relative;
    max-width: 500rem;
    max-height: 660rem;
    background-color: #001E2C;
    /*border: 2px solid rgba(255, 255, 255, 0.5);*/
    border-radius: 40px;
    backdrop-filter: blur(55px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;

}


h1 {
    font-size: 2.5rem;
    width: 132px;
    height: 54px;
    color: #fff;
    text-align: left;
    
}

.white-line {
    border: .5px solid rgb(208, 205, 205); /* Adjust the border properties as needed */
    margin: 1px 0; /* Adjust the margin properties as needed for spacing */
    width: 200px;
}

.inputbox {
    position: relative;
    margin: 65px 0;
    max-width: 400rem;
    border-bottom: none;
}


.inputbox label{
    position: absolute;
    top: .5px;
    left: 10px;
    transform: translateY(-100%);
    color: #ffffff;
    font-size: 25px;
    transition: all 0.5s ease;
}


input:focus ~ label,
input:valid ~ label {
    top: -5px;
}


.inputbox input{
    width: 25rem;
    height: 52px;
    background-color: #D9D9D9;
    border-radius: 1rem;
    font-size: 1.5rem;
    padding: 0 35px 0 20px;
}

input[type=text]:focus, input[type=password]:focus{
    background-color: #fff;
    outline:none;
}



.input-box {
    position: relative;
    margin: 65px 0;
    max-width: 400rem;
    align-items: center;
    display: flex;
    
}


.input-box label{
    position: absolute;
    top: .5px;
    left: 10px;
    transform: translateY(-100%);
    color: #ffffff;
    font-size: 25px;
    transition: all 0.5s ease;
}




.input-box input{
    width: 25rem;
    height: 52px;
    background-color: #D9D9D9;
    border-radius: 1rem;
    font-size: 1.5rem;
    padding: 0 35px 0 20px;
}

.input-box img{
    width: 35px;
    cursor: pointer;
    
}

input[type=text]:focus, input[type=password]:focus{
    background-color: #fff;
    outline:none;
}



.forget{
    margin: 20px 0;
    font-size: 1rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
}


.forget label{
    display: flex;
    align-items: center;
}


.forget label input{
    margin-right: 10px;
}

.forget a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    margin-right: 10px;
}

.forget a:hover{
    text-decoration: underline;
}

button{
    width: 220px;
    height: 48px;
    border-radius: 40px;
    background-color: #00668A;
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;
    transition: all 0.5s ease;
    margin-left: 6rem;

}

button:hover{
    background-color: #ffffff;
}

.register{
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.register p a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;

}

.register p a:hover{
    text-decoration: underline;
}




.error-message {
    color: rgb(238, 14, 14);
    font-size: 20px;
    margin-top: 5px;
    margin-left: 20px;
  }
  


.password-container{
    width: 300px;
    position: relative;
}

.fa-eye{
    position: absolute;
    top: 34%;
    right: 4%;
    cursor: pointer;
    color: black;
}







.error-message {
    color: rgb(238, 14, 14);
    font-size: 20px;
    margin-top: 5px;
    margin-left: 20px;
  }
  


.password-container{
    width: 300px;
    position: relative;
}

.fa-eye{
    position: absolute;
    top: 34%;
    right: 4%;
    cursor: pointer;
    color: black;
}


