
      body {
 
  background: rgb(96,145,163);
    background: linear-gradient(180deg, rgba(96,145,163,1) 56%, rgba(241,247,249,1) 100%);  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.container {
  width: 350px;
  height: 400px;
  
   background:#001E2C;
  border-radius: 10px;
  padding: 10px;
  
  text-align: center; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form {
    padding:10px;
  width: 100%;
  height: fit-content; 
}
img {
  width: 150px;
  height:100px;
  margin: 0px;
}
h1{
  margin:0px;
  color: #ffffff;
  margin-bottom: 15px;
}
a{
    margin: 0px;
    color: #fff
}

label {
  margin-bottom: 5px;
  color: #ffffff;
}
input {
  width: 80%; 
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
    background-color: #00668A;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
  border-radius: 50px;
  text-align: center;
  justify-content: center;
}
button:hover {
  background-color: #f7890b;
}
.error-message {
  color: red;
  font-size: 12px;
}
.info{
    padding: 5px;
    color: #fff;
    font-weight: 300;
}

#loginText {
  overflow: hidden; 
  border-right: 2px solid rgb(255, 255, 255); 
  white-space: nowrap;
  animation: typing 3s steps(4, end), untyping 3s steps(6, end) 3s infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 5em; 
  }
}

@keyframes untyping {
  from {
    width: 3em; 
  }
  to {
    width: 0;
  }
}
