
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #0a192f;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 5px;
  padding: 0;
  top: calc(100% + 5px);
  right: 0;
}

.dropdown-menu a {
  display: block;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s;
}

.dropdown-menu a:hover {
  background-color: #1a314f;
}

.navbar-profile {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
}

.navbar-item {
  position: relative;
}

.navbar-profile .dropdown-menu {
  display: none;
}

.navbar-profile:hover .dropdown-menu {
  display: block;
}

.navbar-search {
  position: relative;
}

.navbar-search input[type="text"] {
  padding: 8px 30px 8px 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff; 
  width: 25rem;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #f9a825;
}

.navbar-cart i,
.navbar-profile i {
  font-size: 24px;
  color: #f9a825;
}

.profile-dropdown {
  display: none;
  position: absolute;
  background-color: #0a192f;
  padding: 10px;
  top: calc(100% + 5px);
  right: 0;
  border-radius: 5px;
}

.navbar-profile:hover .profile-dropdown {
  display: block;
}

.navbar-item {
  position: relative; 
}

.navbar-item:hover .dropdown-menu {
  display: block;
}

.logo1 {
  width: 110px;
  height: 90px;
}

a {
  text-decoration-line: none;
  color: #fff;
}

.navbar {
  background-color: #0a192f;
  color: #fff;
}

.navcontainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar-brand {
  font-size: 24px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar-item {
  margin-right: 20px;
}

.navbar-item:last-child {
  margin-right: 0;
}

.navbar-item a {
  color: #fff;
  text-decoration: none;
}

.navbar-profile .logout-btn {
  background-color: #0a192f;
  color: #fff; 
  border: none;
  width: 100%; 
  text-align: left; 
  margin-left: 0.1rem;
}

.navbar-profile .logout-btn:hover {
  background-color: #1a314f;
}

@media screen and (max-width: 768px) {
    .navcontainer {
      flex-direction: column;
      align-items: center;
    }
  
    .navbar-menu {
      flex-direction: column;
      align-items: center;
    }
  
    .navbar-item {
      margin-bottom: 10px;
    }
  
    .navbar-search input[type="text"] {
      width: 100%; 
    }
    
    .navbar-cart {
      margin-top: 10px;
    }
  
    .navbar-brand {
      margin-bottom: 20px; 
    }
  }
  
  @media screen and (max-width: 480px) {
    .navbar-brand {
      font-size: 20px; 
    }
  
    .navbar-item {
      margin-right: 10px; 
    }
  }
  










