body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

main {
    display: flex;
    margin: 20px;
}

#categories {
    width: 25%;
    padding: 20px;
    background-color: #f4f4f4;
}

#products {
    width: 75%;
    padding: 20px;
}

.category-section {
    margin-bottom: 15px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
}

.product-section {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #dddddd;
    text-align: center; /* Center align text in product section */
}

.product-image {
    max-width: 100%;
    height: auto;
}

.breadcrumb {
    text-align: right;
    margin-bottom: 20px;
}

.breadcrumb a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.breadcrumb a:hover {
    text-decoration: underline;
}
