*{margin: 0;
    font-family: 'Cormorant Garamond', serif;
    box-sizing: border-box;
    margin: 0;
   
}

html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: block;
    background-color: var(--bg-color);
	color: var(--text-color);

}


.search-container {
    display: flex;
    max-width: 30rem;
    flex: 1;
    justify-content: center;
    margin-right: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
}


button  {
    background-color: 
    #00668A;
    text-decoration: none;
 
} 

.color-switcher {
	position: fixed;
	top: 70px;
	right: 40px;
	background-color: transparent;
	font-size: var(--fs-icon);
	cursor: pointer;
	color: var(--primary-color);
	border: 0;
}

  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
   width: 90%;
   margin: 5px auto;
   padding-top: 20px;
   padding-bottom: 20px;
  }

  .deals{
    display: flex;
    justify-content: space-between;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    text-align: center; 
    margin-right: 20px;/* Center text horizontally */
    margin-bottom: 20px; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;/* Add margin between cards */
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .card-img {

    width: 80%; /*Resize image to 80% of card width*/
    max-width: 55rem; /* Set maximum width for the image */
    height: auto; /* Maintain aspect ratio */
  }
 

.more{
    margin:0;
    justify-content: center;
    text-align: center;
}

.h3{
    text-align: center;
    margin: 20px !important;;
}


.quicklinks ul.topbar{
    display:flex ;
    justify-content: space-around;
    color: #ffffff;
    align-content: center;

}

.deal{
    display: flex;
    background-color: red;
    margin-bottom: 3rem;
}



:root {
	--primary-color: orange;
	--eye-pupil-color: #050505;
	--bg-color: #fff;
	--text-color: #000;
	--fs-heading: 36px;
	--fs-text: 26px;
	--fs-button: 18px;
  --fs-icon: 30px;
	--pupil-size: 30px;
	--eye-size: 80px;
	--button-padding: 15px 30px;

		@media only screen and (max-width: 567px) {
      --fs-heading: 30px;
      --fs-text: 22px;
      --fs-button: 16px;
      --fs-icon: 24px;
	    --button-padding: 12px 24px;
		}
}

.color-switcher {
	position: fixed;
	top: 70px;
	right: 40px;
	background-color: transparent;
	font-size: var(--fs-icon);
	cursor: pointer;
	color: var(--primary-color);
	border: 0;
}





