


body {
    font-family: 'Poppins', sans-serif;
    background: rgb(96,145,163);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}


.container {
    width: 30rem;
    height: 30rem;
    background: #001E2C;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    color: red;
    
}

p {
    color: white;
    font-size: 1.2rem;
}

img {
    width: 150px;
    height: 100px;
    margin: 0px;
}

@media only screen and (max-width: 768px) {
    .container {
        max-width: 90%;
    }
}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 20px;
    }

}